@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;

}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
	margin-top: 0em;
	margin-bottom: 0em;
    color: #333333;
	text-align: center;
}

header {
    background:  rgba(0,0,0,0.03);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin-bottom: 2em;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#icon {
    position: absolute;
}

.logo {
    float: left;
}

nav {
    float: right;
}

#logout {
    color: red;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo #icon {
    width: 5em;
    height: auto;
    display: block;
    margin: 0.5em auto;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 23px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #0F0260;
}


nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #0F0260;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}


nav a:hover::before {
    width: 100%;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 0em;

}
.box h3 {
    font-size: 1.5em;
	margin-top:0px;
	margin-bottom: 0.2em;
    color: #333333;
	text-align: center;
}

.box h4 {
	margin-top: 1em;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 0.3em;
}

.box h5 {
	margin: -40px 0px;
	text-align: center;
	font-weight: 900;
}

.box p {
    color: #333333;
	text-align: center;
}

.box a {
    text-decoration: none;
}

.box div {
    align-self: center;
    max-width: 450px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    padding: 1em 30px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0);
}

/*BASIC PACKAGE*/

.box .box_basic_package{
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px 2em;
}

.box .box_basic_package .equipment {
	margin: 0px 60px;
	align-self: center;
    max-width: 300px;
    width: 100%;
    background-color: rgba(0, 107, 229, 0.15);
    padding: 0px 30px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
	border-radius: 20px;
}

.box .box_basic_package .features {
    margin: 0px 60px;
	align-self: center;
    max-width: 300px;
    width: 100%;
    background-color: rgba(0, 107, 229, 0.15);
    padding: 0px 30px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
	border-radius: 20px;
}

.box .box_basic_package .button input{
	max-width: 510px;
    margin: 30px 55px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 70%;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: rgba(0, 107, 229, 0.35);
	background-blend-mode: difference;
	box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}
.box .box_basic_package .button input:hover{
    background: rgba(0, 107, 229, 0.65);
}
/*BASIC PACKAGE END*/

/*PRO PACKAGE*/

.box .box_pro_package{
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px 2em;
}

.box .box_pro_package .equipment {
    margin: 0px 60px;
	align-self: center;
    max-width: 300px;
    width: 100%;
    background: rgba(212, 175, 55, 0.45);
    padding: 0px 30px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
	border-radius: 20px;
}

.box .box_pro_package .features {
    margin: 0px 60px;
	align-self: center;
    max-width: 300px;
    width: 100%;
    background: rgba(212, 175, 55, 0.45);
    padding: 0px 30px;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
	border-radius: 20px;
}

.box .box_pro_package .button input{
	max-width: 510px;
    margin: 30px 60px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 70%;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: rgba(212, 175, 55, 0.45);
	box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}
.box .box_pro_package .button input:hover{
    background: rgba(212, 175, 55, 0.75);
}
/*PRO PACKAGE END*/

.button input{
    max-width: 510px;
    margin: 2em 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 33.333%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: #0F0260;
}
.button input:hover{
    background: #9b59b6;
}

@media(max-width: 1000px) {
    #icon {
        visibility: hidden;
    }
}